<!--<div ng-include="'partials/navbar'"></div>-->

<div class="jumbotron">
  <h1>How To Be YOLO</h1>
  <p>by Cuntdestroyerz</p>
</div>
<h2>Håvard<h2>
  <iframe src="http://snapwidget.com/in/?u=cHJvZmVzc29yeW9sb3xpbnwxMjV8NXwxfHxub3w1fG5vbmV8b25TdGFydHx5ZXM=&v=10414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:130px"></iframe>
<h2>Stian<h2>
<iframe src="http://snapwidget.com/in/?u=eGJveF9mYW5ib3k5MnxpbnwxMjV8NXwxfHxub3w1fG5vbmV8b25TdGFydHx5ZXM=&v=10414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:130px"></iframe>
<h2>Ken<h2>
  <iframe src="http://snapwidget.com/in/?u=c3dhZ2JyZWFkfGlufDEyNXw1fDF8fG5vfDV8bm9uZXxvblN0YXJ0fHllcw==&v=10414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:130px"></iframe>
  <h2>Anders<h2>
    <iframe src="http://snapwidget.com/in/?u=a2FuaW5fZWllcl85MnxpbnwxMjV8NXwxfHxub3w1fG5vbmV8b25TdGFydHx5ZXM=&v=10414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:130px"></iframe>
    <h2>Ton</h2>
<iframe src="http://snapwidget.com/in/?u=bXJ0MG58aW58MTI1fDV8MXx8bm98NXxub25lfG9uU3RhcnR8eWVz&v=10414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:130px"></iframe>
<h2>Jørgen</h2>
<iframe src="http://snapwidget.com/in/?u=YnJvZ3JhbW1lcjEzMzd8aW58MTI1fDV8MXx8bm98NXxub25lfG9uU3RhcnR8eWVz&v=10414" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:650px; height:130px"></iframe>
<div class="footer">
  <h1>♥ from the TinderRSD team</h1>
</div>
